<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>后台管理</title>
<link rel="stylesheet" href="__STATIC__/css/bootstrap.css">
<link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/css/admin.css">
<script src="__STATIC__/js/jquery.js"></script>
</head>
<body>
<div class="navbar navbar-inverse" style="border-radius:0" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="./">广东邦鑫勘测科技股份有限公司 <small>v1.0 Bate</small></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="glyphicon glyphicon-user"><span>{$Think.session.userinfo.username}</span></a></li>
            <li><a class="glyphicon glyphicon-envelope" href="#"></a></li>
            <li><a class="glyphicon glyphicon-log-out" href="{:U('public/logout')}" title="退出"></a></li>
          </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sidebar">
            <include file="Public:sidebar" />
        </div>
        <div class="col-main">
            <iframe id="rframe" name="rframe" src="{:U('index/panel')}" frameborder="0" scrolling="auto" style="height:95%;width:100%;"></iframe>
        </div>
    </div>
</div>
<script>
var set_h = function(){
    var heights = document.documentElement.clientHeight-15;
    $(".col-main").height(heights);
    var openClose = $(".col-main").height();
    $('body').css('overflow','hidden');
}
$(window).resize(function(){
    set_h();
});
//侧边菜单跳转
function _MP(targetUrl) {
  $(".col-main #rframe").attr('src', targetUrl);
}
set_h();

function complate(result){
    var did=result.dialog ? result.dialog : 'dialogid';
    dialog.get(did).close().remove();
    dialog({id:'tip',content:result.info}).show();
    setTimeout(function(){
        dialog.get('tip').close().remove();
    },2000);
    if(result.status==1) rframe.location.reload();
}
$(function(){
    $('.col-sidebar .list-group-item').on('click',function(){
        $('.col-sidebar .list-group-item').removeClass('list-group-selected');
        $(this).addClass('list-group-selected');
    })
    $('.col-sidebar h5').on('click',function(){
        $(this).next('.list-group').slideDown(function(){
            $(this).prev('h5').css({'background':'#22282E','border-bottom':'none'}).find('i').attr('class','fa fa-caret-down');
        }).siblings('.list-group').slideUp(function(){
            $(this).prev('h5').css({'background':'#37424F','border-bottom':'1px solid #414d5c'}).find('i').attr('class','fa fa-caret-right');
        });
    }).eq(0).trigger('click');
});
</script>
</body>
</html>