<include file="Public:header" />
<div class="container-fluid">
    <form role="form" class="d-form form-horizontal" action="" method="post">
    <input type="hidden" name="id" value="{$setting.config_id}">
    <div class="ui-form">
        <h3>网站参数设置 </h3>
        <dl>
            <dt>网站名称</dt>
            <dd>
                <div class="fbox">
                    <input class="form-control input-wdh350" type="text" name="config_title" value="{$setting.config_title}" placeholder="网站名称" />
                </div>
            </dd>
        </dl>
        <dl>
            <dt>网站域名</dt>
            <dd>
                <div class="fbox">
                    <input class="form-control input-wdh350" type="text" name="config_url" value="{$setting.config_url}" placeholder="网站域名"/>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>关键词</dt>
            <dd>
                <div class="fbox">
                    <input class="form-control input-wdh350" type="text" name="index_key" value="{$setting.index_key}" placeholder="关键词"/>
                    <span class="tips">多个关键词请用竖线|隔开，建议3到4个关键词。</span>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>描述</dt>
            <dd><textarea class="form-control" name="index_des" placeholder="描述" style="width:500px;height:120px;">{$setting.index_des}</textarea></dd>
        </dl>
        <dl><dt></dt><dd><button type="submit" class="btn btn-blue">保存</button></dd></dl>
    </div>
    </form>
</div>
<include file="Public:footer" />