<form role="form" id="editRoleForm" class="d-form form-horizontal" action="{:U('Role/edit')}" method="post">
    <input type="hidden" name="id" value="{$list.id}" />
    <div class="form-group">
        <label class="col-md-2 control-label" for="name">角色名称</label>
        <div class="col-md-10">
            <input class="form-control" id="name" name="name" value="{$list.name}" placeholder="角色名称" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="status">状态</label>
        <div class="col-md-10">
            <label class="radio-inline"><input type="radio" name="status" value="1" <if condition="1 eq $list['status']"> checked="checked"</if> />开启</label>
            <label class="radio-inline"><input type="radio" name="status" value="0" <if condition="0 eq $list['status']"> checked="checked"</if>/>关闭</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="sort">排序</label>
        <div class="col-md-10">
            <input class="form-control" id="sort" name="sort" value="{$list.sort}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="remark">描述</label>
        <div class="col-md-10">
            <textarea class="form-control" id="remark" name="remark" placeholder="描述信息">{$list.remark}</textarea>
        </div>
    </div>
</form>