<include file="Public:header" />
<div class="container-fluid">
    <div class="mg-btm10">
        <a class="btn btn-default" dia-type="dialog" dia-title="添加角色" dia-width="350" dia-uri="{:U('role/add')}" href="javascript:void(0);">添加角色</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>角色名称</th>
            <th>角色描述</th>
            <th>状态</th>
            <th>排序</th>
            <th class="text-right">管理操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="lists" id="list">
        <tr>
            <td>{$list.name}</td>
            <td>{$list.remark}</td>
            <td>{$list.status}</td>
            <td>{$list.sort}</td>
            <td class="text-right"><a dia-type="dialog" dia-title="权限设置" dia-width="600" dia-uri="{:U('role/set_priv',array('id'=>$list['id']))}" href="javascript:void(0);">权限设置</a> |
            <a dia-type="dialog" dia-title="编辑角色" dia-width="350" dia-uri="{:U('role/edit',array('id'=>$list['id']))}" href="javascript:void(0);">修改</a> |
            <a class="confirmurl" data-msg="你确定删除【{$list.name}】吗？" data-uri="{:U('role/ajax_del',array('id'=>$list['id']))}" href="javascript:void(0);">删除</a></td>
        </tr>
        </volist>
        </tbody>
    </table>
</div>
<script>
function setpriv(obj)
{
  $('#privModal').modal('show');
  $.get($(obj).attr('d-uri')+'&t='+(Math.random()),function(data){
      $('#privModal .modal-body').html(data);
  });
}
</script>
<include file="Public:footer" />