<form role="form" action="{:U('role/set_priv')}" method="post">
    <input type="hidden" name="id" value="{$id}" />
    <table class="table table-bordered table-hover">
        {$html_tree}
    </table>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">提交</button>
    </div>
</form>
<script>
function checknode(obj)
{
    var level=$(obj).attr('level');
    var node_checkbox='input[name="node_id[]"]:checkbox';
    if(level==1) $(node_checkbox).prop('checked',obj.checked);
    if(level==2) $('.child-node-'+$(obj).val()+' '+node_checkbox).prop('checked',obj.checked);
    if(level==3){
        var sibling_node=$(obj).parent('td').attr('class');
        var parent_node=sibling_node.substr(6);
        $('#'+parent_node+' '+node_checkbox).prop('checked',$('.'+sibling_node+' '+node_checkbox+':checked').length!==0);
    }
    if($(node_checkbox+':checked').length>0) $('input[level=1]').prop('checked',true);
    if($(node_checkbox+':checked').length===1 && $('input[level=1]:checked').prop('checked')) $('input[level=1]').prop('checked',false);
}
</script>