<form role="form" action="{:U('role/set_priv')}" method="post">
    <input type="hidden" name="id" value="{$id}" />
    <table class="table table-bordered table-hover">
        {$html_tree}
    </table>
</form>
<script>
function checknode(obj)
{
    var chk=$('input[name="node_id[]"]'),
        num=chk.index($(obj)),
        len=chk.length,
        bom_lev=top_lev=$(obj).attr('level'),
        flag=true;
    for(var i=num;i>=0;i--){
        if(obj.checked==false){
            if(flag=true && chk.eq(i).attr('level')==top_lev && chk.eq(i).prop('checked')==true) break;
        }
        if(chk.eq(i).attr('level')<top_lev){
            chk.eq(i).prop('checked',obj.checked);
            top_lev--;
        }
    }
    //选择/取消子级菜单
    for(var j=num+1;j<=len;j++){
        if(chk.eq(j).attr('level')<=bom_lev) break;
        chk.eq(j).prop('checked',obj.checked);
    }
}
</script>