<include file="Public:header" />
<div class="container-fluid">
    <div class="mg-btm10"><a class="btn btn-default" href="{:U('category/index')}">分类列表</a></div>
    <form class="d-form form-horizontal" role="form" action="" method="post">
        <div class="form-group">
            <label class="col-md-2 control-label" for="pid">上级分类</label>
            <div class="col-md-10">
                <select class="form-control" name="pid">
                    <option value="0">父级分类</option>
                    {$html_tree}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="cate_name">分类名称</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="cate_name" value="{$category.cate_name}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="order_sort">排序</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="order_sort" value="{$category.order_sort|default=255}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">显示</label>
            <div class="col-md-10">
                <volist name="redio_txt" id="txt">
                <label class="radio-inline"><input type="radio" name="is_active" value="{$txt.key}" <eq name="category.is_active" value="$txt['key']">checked="checked"</eq>/>{$txt.val}</label>
                </volist>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2"><button type="submit" class="btn btn-primary">提交</button></div>
        </div>
    </form>
</div>
<include file="footer" />