<include file="Public:header" />
<div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active"><img src="http://www.chinaunsv.com/uploadfile/2014/1110/20141110094338266.jpg" alt="First slide"></div>
            <div class="item"><img src="http://www.chinaunsv.com/uploadfile/2014/1119/20141119092503730.jpg" alt="Second slide"></div>
            <div class="item"><img src="http://www.chinaunsv.com/uploadfile/2014/1110/20141110103946557.jpg" alt="Third slide"></div>
        </div>
    </div>
</div>
<div id="main" class="row">
    <div class="pro-box pro-l"><img src="__STATIC__/images/guestlogin.gif" /></div>
    <div class="pro-box pro-c ">
        <div class="pro-list"><a href="#"><img src="__STATIC__/images/pro01.gif" /></a><p class="pro-txt"><a href="#"><strong>港口勘测</strong></a></p></div>
        <div class="pro-list clr-margin"><a href="#"><img src="__STATIC__/images/pro02.gif" /></a><p class="pro-txt"><a href="#"><strong>海洋勘测</strong></a></p></div>
        <div class="pro-list"><a href="#"><img src="__STATIC__/images/pro03.gif" /></a><p class="pro-txt"><a href="#"><strong>水利水电、电力工程勘测</strong></a></p></div>
        <div class="pro-list clr-margin"><a href="#"><img src="__STATIC__/images/pro04.gif" /></a><p class="pro-txt"><a href="#"><strong>市政桥梁勘测</strong></a></p></div>
    </div>
    <div class="pro-box pro-r">
        <h2>最新资讯</h2>
        <ul class="list-unstyled">
          <volist name="articles" id="art">
          <li><a href="{:U('index/view',array('id'=>$art['id']))}" title="{$art.title}">> {$art.title}</a></li>
          </volist>
        </ul>
    </div>
</div>
<include file="Public:footer"/>