<include file="Public:header" />
</div>
<table class="table-crumbs">
    <tr>
        <td class="c-l"></td>
        <td class="c-c">
            <div class="crumbs">
                <span class="c-side">{$cate_cur.cate_name}</span>
                <span class="c-cate">水利水电、电力工程勘测</span>
                <span class="pull-right"><a href="#">首页</a> > <a href="#">邦鑫业务</a> > 水利水电、电力工程勘测</span>
            </div>
        </td>
        <td class="c-r"></td>
    </tr>
</table>
<div class="container">
<div id="list-main" class="row">
<div class="list-side">
    <dl>
        <volist name="category" id="cate">
        <notempty name="cate.child">
        <dt>+ {$cate.cate_name}</dt>
        <volist name="cate.child" id="child">
            <dd><a href="{:U('index/view',array('cid'=>$child['id']))}">{$child.cate_name}</a></dd>
        </volist>
        <else />
            <dd><a href="{:U('index/view',array('cid'=>$cate['id']))}">{$cate.cate_name}</a></dd>
        </notempty>
        </volist>
    </dl>
</div>
<div class="all-content">
■ 水利工程规划、设计、施工勘测
■ 水库整治维护水下地形常规检测
■ 水利水电工程、变电站、电力输电线路勘测
■ 河道水利整治工程第三方检测
■ 河砂开采前期勘察、采后验收测量
■ 防洪评价、水土保护、灌区施工勘测
■ 水库大坝、防洪大堤沉降位移变形监测
■ 水利水库抢险应急水下探摸、录像与三维声纳扫测



广州港、深圳港、佛山港、虎门港、珠海港、中山港、汕头港
惠州港、阳江港、茂名港、湛江港、江门港、北海港、钦州港
防城港、海口港、三亚港、洋埔港、八所港、厦门港
</div>
</div>
</div>
<include file="Public:footer" />