.col-sidebar{width:200px;padding:20px;background-color:#fff;position:fixed;top:50px;bottom:0;
left:0;display:block;z-index:1000;overflow-x:hidden;overflow-y:auto;border-right:1px solid #ccc;}
.col-sidebar h5{border-bottom:1px solid #ddd;padding:10px 15px;cursor:pointer;}
.col-sidebar h5 span{float:right;}
.col-sidebar .list-group-item{border:none;border-radius:0px}
.col-main{background-color:#fff;margin-left:200px;margin-top:50px;}
.d-nav{margin-bottom:15px;}
#d-container{width:900px;height:320px;margin-bottom:50px;display:inline-block;}
.d-f-c{width:230px;display:inline-block;}
.d-form .form-control{width:auto;}
.d-form .input-wdh350{width:350px;}
.d-label{width:80px;text-align:right;margin-right:8px;}
.d-cursor{cursor:pointer;}
.wd50{width:50px;}
.mg-btm10{margin-bottom:10px;}