<include file="Public:header" />
<div class="container-fluid">
    <div class="mg-btm10"><a class="btn btn-default" href="{:U('adposition/index')}">广告列表</a></div>
    <form role="form" class="d-form form-horizontal" enctype="multipart/form-data" action="__ACTION__" method="post">
        <div class="form-group">
            <label class="col-md-2 control-label">广告名称</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="ad_name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">广告定位</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="ad_label" />
                <p class="help-block">调用广告的唯一标签</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">尺寸</label>
            <div class="col-md-10 wh">
                <label class="radio-inline">宽<input class="form-control" type="text" name="ad_width" /></label><label class="radio-inline">X</label>
                <label class="radio-inline">高<input class="form-control" type="text" name="ad_height" /></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">上传广告</label>
            <div class="col-md-10">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-picture"></i>
                        <span>上传图片</span>
                        <input type="file" id="fileupload" multiple name="files[]">
                </span>
                <ul class="list-unstyled ad-list"></ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">显示</label>
            <div class="col-md-10">
                <volist name="redio_txt" id="txt">
                <label class="radio-inline"><input type="radio" name="status" value="{$txt.key}">{$txt.val}</label>
                </volist>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-primary" type="submit">提交</button>
            </div>
        </div>
    </form>
</div>
<script src="__STATIC__/js/jquery.ui.widget.js"></script>
<script src="__STATIC__/js/jquery.fileupload.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        url: "{:U('adposition/adupload')}",
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                var str='<li><a href="'+file.url+'" target="_blank"><img src="'+file.url+'" /></a>'+
                '<input type="hidden" name="ad_img[]" value="'+file.url+'" />'+
                '<input class="form-control" style="display:inline" type="text" name="ad_url[]"/>'+
                '<a class="delete" data-type="DELETE" data-url="'+file.deleteUrl+'" href="javascript:void(0);">删除</a></li>';
                $('.ad-list').append(str);
            });
        }//,k
        // progressall: function (e, data) {
        //     var progress = parseInt(data.loaded / data.total * 100, 10);
        //     $('#progress .progress-bar').css(
        //         'width',
        //         progress + '%'
        //     );
        // }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
    $('.ad-list').on('click','.delete',function(){
        var that=$(this);
        $.ajax({
            url:that.attr('data-url'),
            type:that.attr('data-type'),
            success:function(rel){
                console.info(rel);
                that.closest('li').remove();
            }
        });
    })
    // $('.radio-inline input[type="radio"]').on('click',function(){
    //     if($(this).val()==2){
    //         console.info($(this).val());
    //         $('#fileupload').attr('multiple','');
    //     }else{
    //         $('#fileupload').removeAttr('multiple');
    //     }
    // });
});
</script>
<include file="Public:footer" />