<include file="Public:header" />
<div class="container-fluid">
    <div class="mg-btm10">
        <a class="btn btn-default" href="{:U('menu/add')}" title="添加菜单">添加菜单</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>排序</th>
                <th class="text-center">ID</th>
                <th>菜单名称</th>
                <th>路径</th>
                <th class="text-right">激活</th>
                <th class="text-right">显示菜单</th>
                <th class="text-right">管理操作</th>
            </tr>
        </thead>
        <tbody>
            {$html_tree}
        </tbody>
    </table>
</div>
<include file="Public:footer" />