<include file="Public:header" />
<div class="container-fluid">
    <div class="row">
        <include file="Public:sidebar" />
        <div class="col-main">

            <div class="row d-nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#">文章管理</a></li>
                    <li><a href="{:U('article/add')}">添加文章</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="btn-group">
                <button class="btn btn-primary" url="{:U('article/add')}">删除</button>
                <button class="btn">添加</button>
                </div>
                <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><input type="checkbox" />全选</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>显示</th>
                    <th>排序</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <volist name="result" id="rel">
                <tr d-id="{$rel.id}">
                    <td><input type="checkbox" name="" value="{$rel.id}"</td>
                    <td>{$rel.title}</td>
                    <td>{$rel.cate_name}</td>
                    <td><span class="d-cursor" data-val="{$rel.is_active}" ><i class="glyphicon <if condition="$rel['is_active'] eq '1'">glyphicon-ok<else/>glyphicon-remove</if>"></i></span></td>
                    <td><span class="is_sort d-cursor">{$rel.order_sort}</span></td>
                    <td>{$rel.create_time|date="Y-m-d H:i:s",###}</td>
                    <td>
                    <a href="{:U('article/edit',array('id'=>$rel['id']))}" href="#">编辑</a> |
                    <a href="#">查看</a> |
                    <a data-toggle="modal" data-target="#delModal" data-uri="{:U('index/del',array('id'=>$rel['id']))}" href="#">删除</a></td>
                </tr>
                </volist>
                </table>
                <div class="text-center">{$page}</div>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    $('.is_visibility').on('click',function(){
        var dId = $(this).parent().parent('tr').attr('d-id');
        var that = $(this);
        var s_val = $(this).attr('data-val') == 1  ? 0 : 1;
        $.getJSON('index.php?c=index&a=ajax_edit',{'id':dId,'field':'visibility','val':s_val},function(data){
                if(data.status==true){
                    if(data.rel.visibility==1)
                        that.children('i').attr('class','glyphicon glyphicon-ok');
                    else
                        that.children('i').attr('class','glyphicon glyphicon-remove');
                    that.attr('data-val',s_val);
                }else
                    alert('操作失败！');
        });
    });
    $('.is_sort').on('click',function(){
        var dId = $(this).parent().parent('tr').attr('d-id');
        var s_val = $(this).text();
        $('<input type="text" class="lt_input_text" value="'+s_val+'" />').width(35).focusout(function(){
            $(this).prev('span').show().text($(this).val());
            if($(this).val() != s_val) {
                $.getJSON('index.php?c=index&a=ajax_edit',{'id':dId,'field':'sort','val':$(this).val()},function(data){
                    if(data.status!=true)
                        alert('操作失败！');
                });
            }
            $(this).remove();
        }).insertAfter($(this)).focus().select();
        $(this).hide();
        return false;
    });
    $('.table').on('click','[data-target=#delModal]',function(){
        $('#delModal .modal-dialog').css('width','220');
        var that=$(this);
        $('#delcontent').on('click',function(){
            $.get(that.attr('data-uri'),function(data){
                $('#delModal').modal('hide');
                if(data===true){
                    that.parent().parent().fadeOut('slow',function(){
                        $(this).remove();
                    });
                }else
                    alert('删除失败！');
            });
        });
    });
});
</script>
<!-- delModal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title" id="myModalLabel">消息提示</h4>
      </div>
      <div class="modal-body">确认删除吗？</div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> -->
        <button class="btn btn-primary" id="delcontent" type="button">确定</button>
      </div>
    </div>
  </div>
</div>
<include file="Public:footer" />