<div class="col-sidebar">
    <ul class="nav nav-sidebar">
        <li <if condition="$curr eq 'index'">class="active"</if>><a href="{:U('article/index')}">文章管理</a></li>
        <li <if condition="$curr eq 'index_add'">class="active"</if>><a href="{:U('article/add')}">添加文章</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li <if condition="$curr eq 'artcate'">class="active"</if>><a href="{:U('category/index')}">分类管理</a></li>
        <li <if condition="$curr eq 'artcate_add'">class="active"</if>><a href="{:U('category/add')}">添加分类</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{:U('user/index')}">用户管理</a></li>
        <li><a href="{:U('role/index')}">角色管理</a></li>
        <li><a href="{:U('node/index')}">权限设置</a></li>
    </ul>
</div>