<include file="Public:header" />
<div class="container-fluid">
    <div class="row">
        <include file="Public:sidebar" />
        <div class="col-main">
            <div class="row d-nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li><a href="{:U('articlecategory/index')}">分类管理</a></li>
                    <li class="active"><a href="#">添加分类</a></li>
                </ul>
            </div>
            <div class="row">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label class="d-label" for="parent_id">上级分类</label>
                        <select name="data[parent_id]">
                            <option value="">请选择</option>
                            <volist name="result" id="rel">
                            <option value="{$rel.id}">{$rel.cate_name}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="d-label">分类名称</label>
                        <input class="form-control d-f-c" type="text" name="data[cate_name]" />
                    </div>
                    <div class="form-group">
                        <label class="d-label">排序</label>
                        <input class="form-control d-f-c" type="text" name="data[sort]" value="1" />
                    </div>
                    <div class="form-group">
                        <label class="d-label">显示</label>
                        <input type="radio" name="data[visibility]" value="1" checked="checked" /> 是&nbsp;&nbsp;
                        <input type="radio" name="data[visibility]" value="0" /> 否
                    </div>
                    <div class="form-group">
                        <label class="d-label"></label>
                        <button type="submit" class="btn btn-default">提交</button></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="footer" />