<include file="Public:header" />
<div class="container-fluid">
    <div class="mg-btm10">
        <a class="btn btn-default" dia-type="dialog" dia-title="添加用户" dia-width="520" dia-uri="{:U('member/add')}" href="javascript:void(0);" title="添加用户">添加用户</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center"><input type="checkbox" onclick="$('input[name*=\'checked\']').prop('checked', this.checked);" /></th>
            <th>用户名称</th>
            <th>所属角色</th>
            <th>用户描述</th>
            <th>创建时间</th>
            <th>最后登录IP</th>
            <th>最后登录时间</th>
            <th class="text-center">激活</th>
            <th class="text-right">管理操作</th>
        </tr>
        </thead>
        <volist name="lists" id="list">
        <tr>
            <td class="text-center"><input type="checkbox" name="checked[]" value="{$list.id}" /></td>
            <td>{$list.username}</td>
            <td>{$role[$list['role']]}</td>
            <td>{$list.remark}</td>
            <td>{$list.create_time|date="Y-m-d H:i",###}</td>
            <td>{$list.last_login_ip}</td>
            <td>{$list.last_login_time|date="Y-m-d H:i",###}</td>
            <td  class="text-center"><span class="d-cursor" d-val="{$list['status']?0:1}" d-uri="{:U('member/ajax_edit',array('id'=>$list['id'],'field'=>'status'))}" onclick="demo_toggle(this)" ><i class="glyphicon <if condition="$list['status'] eq '1'">glyphicon-ok<else/>glyphicon-remove</if>"></i></span></td>
            <td class="text-right">
            <a dia-type="dialog" dia-title="编辑用户" dia-width="520" dia-uri="{:U('member/edit',array('id'=>$list['id']))}" href="javascript:void(0);">编辑</a> |
            <a class="confirmurl" data-msg="你确定要删除【{$list.username}】吗？" data-uri="{:U('member/del',array('id'=>$list['id']))}" href="javascript:void(0);">删除</a></td>
        </tr>
        </volist>
    </table>
    <div class="text-center">{$page}</div>
</div>
<include file="Public:footer" />